* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.favor-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
.favor {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}
.favor-image-container {
    width: 100%;
    height: 10em;
    overflow: hidden;
    border-radius: 5%;
}
.favor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.favor-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}
.favor-price {
    font-size: 16px;
    color: black;
    margin-top: 5px;
}
.favor-year {
    font-size: 14px;
    color: #282828;
    margin-top: 5px;
}
.favorite-car {
    text-decoration: none;
    color: inherit;
}
.favorite-button {
    background-color: black;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.no-favorites-message {
    font-size: 24px;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #383838;
}
@media screen and (max-width: 768px) {
    .favor-container {
        max-width: 90%;
    }
    .favor {
        width: 100%;
    }
    .favor-image {
        width: 100%;
    }
    .favor-title {
        font-size: 16px;
    }
    .favor-price {
        font-size: 14px;
    }
    .favor-year {
        font-size: 12px;
    }
}