body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
#responseMessage {
    background-color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    margin-top: 20px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
.like-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-container {
    flex: 1;
}
.button-container {
    margin-left: 10px; 
}
.container {
    border-left: 20px solid black;
    border-right: 20px solid black;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #282828;
}
table td {
    padding: 10px;
    border: none;
    font-size: 16px;
}
table th {
    padding: 10px;
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.product-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
    padding: 0 100px;
}
.product-image.active {
    display: block;
}
.image-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: 20px;
    transform: translateY(-50%);
}
#prevImageButton {
    left: 0;
}

#nextImageButton {
    right: 0;
}

#prevImageButton:hover,
#nextImageButton:hover {
    background-color: #282828;
}
@media screen and (max-width: 480px) {
    .gallery {
        flex-direction: column;
    }
    button {
        margin: 15px 0;
    }
    .product-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .container {
        border-left: 10px solid black;
        border-right: 10px solid black;
    }
    .product-image {
        padding: 0 20px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: none;
    }
}