body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
    margin: 20px;
    color: black;
}
form {
    max-width: 400px;
    margin: 0 auto;
    background: black;
    border: 2px solid #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
input[type="checkbox"] {
    margin-right: 5px;
}
button[type="submit"] {
    background-color: #383838;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.error-message {
    color: black;
    font-size: 20px;
    margin: 0;
    text-align: center;
}
@media (max-width: 767px) {
    form {
        padding: 10px;
        max-width: 100%;
    }
    button[type="submit"] {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    form {
        max-width: 80%;
    }
}